<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.febs.system.mapper.CangkuMapper">
    <resultMap id="BaseResultMap" type="com.febs.system.entity.Cangku">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="ckdm" jdbcType="VARCHAR" property="ckdm" />
        <result column="ckmc" jdbcType="VARCHAR" property="ckmc" />
        <result column="cklx_id" jdbcType="INTEGER" property="cklxId" />
        <result column="ckxz" jdbcType="INTEGER" property="ckxz" />
        <result column="tel" jdbcType="VARCHAR" property="tel" />
        <result column="contact" jdbcType="VARCHAR" property="contact" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="memo" jdbcType="VARCHAR" property="memo" />
        <result column="ex1" jdbcType="VARCHAR" property="ex1" />
        <result column="ex2" jdbcType="VARCHAR" property="ex2" />
        <result column="ex3" jdbcType="VARCHAR" property="ex3" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="deleted" jdbcType="INTEGER" property="deleted" />
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, ckdm, ckmc, cklx_id, ckxz, tel, contact, address, memo, ex1, ex2, ex3, `status`, 
    create_time, update_time, deleted
  </sql>
    <select id="selectByExample" parameterType="com.febs.system.entity.CangkuExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from system_cangku
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from system_cangku
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from system_cangku
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.febs.system.entity.CangkuExample">
        delete from system_cangku
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.febs.system.entity.Cangku" useGeneratedKeys="true">
    insert into system_cangku (ckdm, ckmc, cklx_id, 
      ckxz, tel, contact, 
      address, memo, ex1, 
      ex2, ex3, `status`, create_time, 
      update_time, deleted)
    values (#{ckdm,jdbcType=VARCHAR}, #{ckmc,jdbcType=VARCHAR}, #{cklxId,jdbcType=INTEGER}, 
      #{ckxz,jdbcType=INTEGER}, #{tel,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, #{ex1,jdbcType=VARCHAR}, 
      #{ex2,jdbcType=VARCHAR}, #{ex3,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.febs.system.entity.Cangku" useGeneratedKeys="true">
        insert into system_cangku
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ckdm != null">
                ckdm,
            </if>
            <if test="ckmc != null">
                ckmc,
            </if>
            <if test="cklxId != null">
                cklx_id,
            </if>
            <if test="ckxz != null">
                ckxz,
            </if>
            <if test="tel != null">
                tel,
            </if>
            <if test="contact != null">
                contact,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="memo != null">
                memo,
            </if>
            <if test="ex1 != null">
                ex1,
            </if>
            <if test="ex2 != null">
                ex2,
            </if>
            <if test="ex3 != null">
                ex3,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ckdm != null">
                #{ckdm,jdbcType=VARCHAR},
            </if>
            <if test="ckmc != null">
                #{ckmc,jdbcType=VARCHAR},
            </if>
            <if test="cklxId != null">
                #{cklxId,jdbcType=INTEGER},
            </if>
            <if test="ckxz != null">
                #{ckxz,jdbcType=INTEGER},
            </if>
            <if test="tel != null">
                #{tel,jdbcType=VARCHAR},
            </if>
            <if test="contact != null">
                #{contact,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="memo != null">
                #{memo,jdbcType=VARCHAR},
            </if>
            <if test="ex1 != null">
                #{ex1,jdbcType=VARCHAR},
            </if>
            <if test="ex2 != null">
                #{ex2,jdbcType=VARCHAR},
            </if>
            <if test="ex3 != null">
                #{ex3,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.febs.system.entity.CangkuExample" resultType="java.lang.Long">
        select count(*) from system_cangku
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update system_cangku
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.ckdm != null">
                ckdm = #{record.ckdm,jdbcType=VARCHAR},
            </if>
            <if test="record.ckmc != null">
                ckmc = #{record.ckmc,jdbcType=VARCHAR},
            </if>
            <if test="record.cklxId != null">
                cklx_id = #{record.cklxId,jdbcType=INTEGER},
            </if>
            <if test="record.ckxz != null">
                ckxz = #{record.ckxz,jdbcType=INTEGER},
            </if>
            <if test="record.tel != null">
                tel = #{record.tel,jdbcType=VARCHAR},
            </if>
            <if test="record.contact != null">
                contact = #{record.contact,jdbcType=VARCHAR},
            </if>
            <if test="record.address != null">
                address = #{record.address,jdbcType=VARCHAR},
            </if>
            <if test="record.memo != null">
                memo = #{record.memo,jdbcType=VARCHAR},
            </if>
            <if test="record.ex1 != null">
                ex1 = #{record.ex1,jdbcType=VARCHAR},
            </if>
            <if test="record.ex2 != null">
                ex2 = #{record.ex2,jdbcType=VARCHAR},
            </if>
            <if test="record.ex3 != null">
                ex3 = #{record.ex3,jdbcType=VARCHAR},
            </if>
            <if test="record.status != null">
                `status` = #{record.status,jdbcType=INTEGER},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.deleted != null">
                deleted = #{record.deleted,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update system_cangku
        set id = #{record.id,jdbcType=INTEGER},
        ckdm = #{record.ckdm,jdbcType=VARCHAR},
        ckmc = #{record.ckmc,jdbcType=VARCHAR},
        cklx_id = #{record.cklxId,jdbcType=INTEGER},
        ckxz = #{record.ckxz,jdbcType=INTEGER},
        tel = #{record.tel,jdbcType=VARCHAR},
        contact = #{record.contact,jdbcType=VARCHAR},
        address = #{record.address,jdbcType=VARCHAR},
        memo = #{record.memo,jdbcType=VARCHAR},
        ex1 = #{record.ex1,jdbcType=VARCHAR},
        ex2 = #{record.ex2,jdbcType=VARCHAR},
        ex3 = #{record.ex3,jdbcType=VARCHAR},
        `status` = #{record.status,jdbcType=INTEGER},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
        deleted = #{record.deleted,jdbcType=INTEGER}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.febs.system.entity.Cangku">
        update system_cangku
        <set>
            <if test="ckdm != null">
                ckdm = #{ckdm,jdbcType=VARCHAR},
            </if>
            <if test="ckmc != null">
                ckmc = #{ckmc,jdbcType=VARCHAR},
            </if>
            <if test="cklxId != null">
                cklx_id = #{cklxId,jdbcType=INTEGER},
            </if>
            <if test="ckxz != null">
                ckxz = #{ckxz,jdbcType=INTEGER},
            </if>
            <if test="tel != null">
                tel = #{tel,jdbcType=VARCHAR},
            </if>
            <if test="contact != null">
                contact = #{contact,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="memo != null">
                memo = #{memo,jdbcType=VARCHAR},
            </if>
            <if test="ex1 != null">
                ex1 = #{ex1,jdbcType=VARCHAR},
            </if>
            <if test="ex2 != null">
                ex2 = #{ex2,jdbcType=VARCHAR},
            </if>
            <if test="ex3 != null">
                ex3 = #{ex3,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.febs.system.entity.Cangku">
    update system_cangku
    set ckdm = #{ckdm,jdbcType=VARCHAR},
      ckmc = #{ckmc,jdbcType=VARCHAR},
      cklx_id = #{cklxId,jdbcType=INTEGER},
      ckxz = #{ckxz,jdbcType=INTEGER},
      tel = #{tel,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      ex1 = #{ex1,jdbcType=VARCHAR},
      ex2 = #{ex2,jdbcType=VARCHAR},
      ex3 = #{ex3,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>


    <select id="selectPage" resultType="com.febs.system.entity.Cangku">
        SELECT c.*,lb.cklbmc cklxmc
        FROM system_cangku c
        LEFT JOIN basic_cklb lb ON c.cklx_id = lb.id
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

</mapper>
